body {
  background-color: black;
}

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.socialContainer {
  margin-top: 10px;
  max-width: 330px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialContainer button {
  cursor: pointer;
  border-radius: 9999px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 160px;
  height: 48px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.socialContainer button:hover {
  background-color: lightgray;
}
