.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 15px;
}

.pweetFactoryContainer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
  width: 100%;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  padding-bottom: 4px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
}

.mainContainer .profileImg {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 9999px;
}

.pweetFactoryContainer .homeDiv {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  height: 53px;
  font-size: 20px;
  font-weight: 800;
  padding-left: 16px;
  padding-right: 16px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
}

.pweetFactoryContainer .pweetInputContainer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
}

.imgContainer {
  position: relative;
  width: 100%;
  max-height: 40%;
}

.imgContainer .pweetImageTop {
}

.pweetImage {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.imgContainer button {
  display: none;
}

.imgContainer label {
  border-radius: 9999px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 10px;
  top: 10px;

  transition: 0.2s;
}

.imgContainer label:hover {
  background-color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.pweetInputContainer .pweetText {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: 56px;
  text-align: start;
}

.inputContainer {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
}

.inputContainer .addContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.addContainer label {
  color: rgb(29, 161, 242);
}

.addContainer label:hover {
  cursor: pointer;
}

#addImage {
  display: none;
}

.inputContainer .submitButton {
  align-self: flex-end;

  width: 90px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 9999px;
  background-color: rgb(29, 161, 242);

  font-size: 15px;
  font-weight: 700;
  text-align: center;

  transition: 0.2s;
}

.inputContainer .submitButton:hover {
  background-color: rgb(26, 145, 218);
}

.space {
  height: 12px;
  background-color: rgb(21, 24, 28);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
}

.pweetContainer {
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(47, 51, 54);
}

.pweetContainer .profileImg {
  width: 48px;
  height: 48px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 9999px;
}

.pweetContainer .pweetTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #cccccc;
  font-size: 15px;

  padding-right: 20px;
}

.pweetContainer .pweetTextContainer .pweetCreatorContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.pweetContainer .pweetTextContainer .pweetCreatorContainer .pweetCreatorUid {
  margin-left: 5px;
  color: rgb(110, 118, 125);
  font-weight: 400;
}

.pweetContainer .pweetTextContainer .pweetButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pweetContainer .pweetTextContainer .pweetButtonContainer Button {
  display: none;
}

.pweetContainer .pweetTextContainer .pweetButtonContainer label {
  flex-basis: 55.75px;
  cursor: pointer;
  transition: 0.1s;
}

.pweetContainer .pweetTextContainer .pweetButtonContainer label:hover {
  color: red;
}

.pweetContainer .pweetTextContainer .pweetButtonContainer button ~ label:hover {
  color: rgb(26, 145, 218);
}
